@page "/"

<MudGrid>
    <MudItem xs="3">
        <MudPaper Class="mx-auto">
            Score Board
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="mx-auto overflow-scroll" Height="500px" >
            @for (int i = 0; i < _board.Grid.Count(); i++)
            {
                var row = _board.Grid[i];
                <div class="d-flex ma-2">
                    @for (int j = 0; j < _board.Grid.Count(); j++)
                    {
                        var space = row[j];
                        <MudButton OnClick="@(() => _board.AddSymbol(i, j, "X"))">
                            <MudPaper MinWidth="100px" Width="100px"
                                      MinHeight="100px" Height="100px"
                                      Class="mx-2">
                                <MudText Typo="Typo.h1"
                                         Style="text-align: center;">
                                    @if (string.IsNullOrEmpty(space.Letter))
                                    {
                                        @space.Letter
                                    }
                                </MudText>
                            </MudPaper>
                        </MudButton>
                    }
                </div>
            }
        </MudPaper>
    </MudItem>
    <MudItem xs="3">
        <MudPaper Class="mx-auto">
            Other information
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    private Board _board = new Board();

    private Player player1 = new Player()
    {
        Id = 0,
        DisplayName = "Player 1",
        Letter = "X"
    };
    private Player player2 = new Player()
    {
        Id = 1,
        DisplayName = "Player 2",
        Letter = "O"
    };
}
